
.tree-node {
    list-style: none;
    padding-top: 2px;
}
.tree-node-content {
    display: flex;
    flex-direction: row;
    gap: 5px;
.collapser {
        width: 15px;
        cursor: pointer;
}
.selector {
        width: 15px;
}
.labeler {
        display: block;
        flex: 1;
        flex-wrap: nowrap;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        height: 20px;
}
.appender{
        display: block;
}
}
.tree-node ul {
    margin-left: 5px;
    padding-left: 5px;
}


.treecontainer {
&[data-v-10ab5e6b] {
    display: flex;
    align-items: start;
    width: 100%;
}
.roottree[data-v-10ab5e6b] {
        width: 100%;
        max-width: 250px;
        display: flex;
        flex-direction: column;
        margin-block-start: 5px;
        margin-inline-start: 5px;
        padding-inline-start: 5px;
}
}


.treeicon {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 5px;
    height: 19px;
    justify-content: end;
    width: 65px;
}
.filters {
    min-width: 64px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 3px;
.filterbutton{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 3px;
        height: 100%;
        min-height: 24px;
}
.filter {
        width: 20px;
        height: 20px;
}
}


.panel-conent {
    width: 100%;
    height: 100%;
    margin: 5px;
    overflow: auto;
.scroller {
.tree {
            width: 100%;
.instancetools {
                width: 100%;
                height: 16px;
                display: flex;
                justify-content: end;
}
.title {
                font-weight: bold;
                font-size: 1.2em;
                width: 100%;
                background-color: rgba(0, 0, 0, 0.1);
}
}
}
}

